<footer class="bd-footer py-1 mt-4  rounded-top" style="background-color:#00BFFF ;">
  <div class="container py-4">
    <div class="col-lg-5">
      <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="index.html" aria-label="Liburan Yuk!">
        <img src="/Gambar/Logo1.png" alt="" height="40px"style="background-color: rgb(255, 255, 255)" class="rounded-circle">
        <span class="fs-5 fw-bold">  Liburan Yuk!</span>
      </a>
      <ul class="list-unstyled small">
        <li class="mb-1 fw-bold">Project Webdevelop Kelas Sore Angkatan 2020 Universitas Tarumanegara.</li>
        <li class="mb-1 fw-bold">Anggota :</li>
        <li class="mb-1 fw-bold">Brian Wijaya_535200069</li>
        <li class="mb-1 fw-bold">Erwin Surya Effendy_535200075</li>
      </ul>
    </div>
  </div>
</footer>